.page {
	&--test {
		
	}
}

.test-chm {
	.chm {
		&__ч {
			top: 20.5vh;
			margin-left: -680px;
		}
		&__м {
			top: 26.5vh;
			margin-left: -397px;
		}
		&__2 {
			top: 20vh;
			margin-left: -50px;
		}
		&__0 {
			top: 28vh;
			margin-left: 240px;
		}
		&__1 {
			top: 40.5vh;
			margin-left: 530px;
		}
		&__8 {
			top: 50.7vh;
			margin-left: 717px;
		}
	}
}