include ../mixins
.header
  .l-container-fluid
    .header__content
      .header__logo.header__logo--maxim
        +icon('maxim')
      .header__logo.header__logo--gomeovoks
        .text Гомеовокс
      .header__text специальный проект