include ./mixins
doctype html
block page
  html
    head
      block head
        title Gomeovoks
        meta(property="og:title", content="Узнай, как не потерять голос после ЧМ?")
        //- meta(property="og:description", content="Description")
        meta(property="og:image:width", content="1200")
        meta(property="og:image:height", content="630")
        meta(property="og:image", content="http://homeovox.maximonline.ru/share.jpg")
        //- include parts/favicon
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic", rel="stylesheet")
        link(href="build/css/main.css", rel="stylesheet")
        link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")
        script(src="build/js/vendor/jquery-3.2.1.min.js")
        script(src="build/js/vendor/mobile.js")
        script(src="build/js/vendor/jquery.ba-throttle-debounce.js")
        script(src="https://cdn.rawgit.com/iserdmi/afterlag-js/2.0.2/dist/jquery.afterlag.min.js")
        script(src="build/img/svg/sprite.js")
        script(src="https://yastatic.net/share2/share.js")
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-90021243-20', 'auto');
            ga('send', 'pageview');
    body
      .svg-sprite.l-hidden
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout.layout--desktop(class="layout--" + layout)
        include parts/header
        block content
        //- include parts/footer
      
      script(src="build/js/vendor/owl.carousel.min.js")
      script(src="build/js/vendor/TweenMax.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/plugins/TextPlugin.min.js")
      script(src="build/js/main.js")