.chm {
	font: 400 vmax(190)/1 $font-base;
	color: $black;
	text-transform: uppercase;
	size(100%);
	
	.l-container {
		height: 100%;
	}
	
	&__symbol {
		absolute(0, 50%);
		transform-origin: center;
	}
	
	&__ч {
		transform: rotate(23deg);
	}
	&__м {
		transform: rotate(-30deg);
	}
	&__2 {
		transform: rotate(23deg);
	}
	&__0 {
		transform: rotate(-20deg);
	}
	&__1 {
		transform: rotate(31deg);
	}
	&__8 {
		transform: rotate(-14deg);
	}
}