include ../mixins
.header
  .l-container-fluid
    .header__content
      .header__logo.header__logo--maxim
        +icon('maxim')
      .header__logo.header__logo--gomeovoks
        .text
          a(href="http://pubads.g.doubleclick.net/gampad/clk?id=4733370388&iu=/81006599/hmiru-maximonline/count", target="_blank", onclick="ga('send', 'event', 'logo', 'click', 'click logo');") Гомеовокс
      .header__text специальный проект