include ../mixins
.product
	+chm.product-chm
	.l-container
		.l-flex-noBottom
			.l-col-6
				.product__text !{text.res[0]}
				.product__img.product__img--0: a(href="http://pubads.g.doubleclick.net/gampad/clk?id=4733370388&iu=/81006599/hmiru-maximonline/count", target="_blank", onclick="ga('send', 'event', 'product', 'click', 'click product');")
					img.l-float--right(src="build/img/hand-gomeovoks.png", alt="Гомеовокс")
			.l-col-66
				.product__img.product__img--1: img.l-float--left(src="build/img/hand.png", alt="")
				.product__text !{text.res[1]}
		.l-flex-noBottom
			.l-col-6
				+social(true, true)